body {
  background-color: black;
}

#header {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: Comic Sans MS;
}

.quote-area {
  background-color: white;
  margin: 5% auto auto auto;
  width: 750px;
  border-radius: 5px;
}

#quote {
  padding: 50px 50px 25px 50px;
  font-family: Comic Sans MS;
  text-align: center;
  font-size: 25px;
}

#icon {
  float: left;
  margin-left: 75px;
}

#author {
  text-align: right;
  padding-right: 50px;
  font-family: Comic Sans MS;
  font-size: 20px;
}

.button-div {
  padding: 25px 50px 50px 50px;
  text-align: center;
}

#twitter {
  margin-right: 25%;
}

#new-quote {
  font-family: Comic Sans MS;
  margin-left: 25%;
  font-size: 15px;
  color: white;
  background-color: black;
}

.fa-twitter-square {
  color: black;
}

#credit {
  font-family: Comic Sans MS;
  color: white;
  text-align: center;
  padding: 10px;
}

#credit-link {
  text-decoration: none;
  color: white;
}